@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

    
    
     @using (Html.BeginForm()) {

             
         

    <input type="submit" value="Executar" />
         <br />
    <h3>O resultado é: @ViewBag.Resultado</h3>
         
         
         
     }



